<div class="cart_section">
    <div class="container-fluid">
        <input type="hidden" value="{{user.cartId}}" id="cid" >
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Cart</div>
                    {{#each products}}
                    <div class="cart_items">
                        <ul class="cart_list">
                            <li class="cart_item clearfix">
                                <div class="cart_item_image"><img src="{{ this.product.thumbnail }}" alt=""></div>
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Nombre</div>
                                        <div class="cart_item_text">{{ this.product.title }}</div>
                                    </div>
                                    <div class="cart_item_color cart_info_col">
                                        <div class="cart_item_title">Descripción</div>
                                        <div class="cart_item_text"></span>{{ this.product.description }}</div>
                                    </div>
                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="cart_item_title">Cantidad</div>
                                        <div class="cart_item_text">{{ this.quantity }}</div>
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Precio</div>
                                        <div class="cart_item_text">${{ this.product.price }}</div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Stock</div>
                                        <div class="cart_item_text">{{ this.product.stock }}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {{/each}}
                    <div class="cart_buttons"><button id="purchase" type="button" class="button cart_button_clear">Terminar compra</button>
                    {{!-- <div class="cart_buttons"> <a href="/api/carts/{{}}/purchase"><button type="button" class="button cart_button_clear">Terminar compra</button></a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/cart.js"></script>