<div class="container py-5">
   <div>
      <div class="row justify-content-center">
         <div class="col-10">
            <div class="row justify-content-center">
               <div class="d-flex justify-content-between align-items-center">
                  <h1 class="py-2">Productos</h1>
                  <div class="d-flex align-items-center">
                     <div class="rounded-circle bg-warning">
                        <img src="https://robohash.org/{{ user.first_name }}"
                           class="rounded-circle img-fluid" style="width: 40px;" />
                     </div>
                     <div class="px-2">Hola {{ user.first_name }}</div>
                     <div>
                        <a href="/profile"><button class="btn btn-primary btn-sm px-3 mx-3">Perfil</button></a>
                        <a href="/api/session/logout"><button class="btn btn-danger btn-sm px-3">Salir</button></a>
                     </div>
                     <div>
                        <a href="/realtimeproducts"><button class="btn btn-secondary btn-sm px-3 mx-3">Administrar productos</button></a>
                     </div>
                  </div>
               </div>
               <div class="row mt-5 justify-content-center">
                  {{#each products}}
                  <div class="card m-2" style="width: 18rem;" id="{{this._id}}">
                     <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap">
                     <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Codigo: {{this.code}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Precio: {{this.price}} </h6>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">Stock: {{this.stock}}</p>
                        <button id="{{this._id}}" name="addToCart" class="btn btn-success">Agregar al carrito</button>
                     </div>
                  </div>
                  {{/each}}
               </div>
            </div>
            <div class="text-center">
               <div class="card-subtitle mb-2 text-muted">Página: {{ actualPage }}</div>
               {{#if hasPrevPage}}
               <a href="/products?page={{prevPage}}"><button class="btn btn-secondary btn-sm">Página
                     Anterior</button></a>
               {{/if}}
               {{#if hasNextPage}}
               <a href="/products?page={{nextPage}}"><button class="btn btn-secondary btn-sm">Página
                     Siguiente</button></a>
               {{/if}}
               <button id="viewCart" class="btn btn-info btn-sm">Ver Carrito</button>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/assets/js/products.js"></script>