<div>
   <div class="row justify-content-center">
      <div class="col-6">
         <div class="row justify-content-center">
            <h1>Productos</h1>
            {{#each products}}
            <div class="card m-2" style="width: 18rem;" id="{{this._id}}">
               <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap">
               <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Codigo: {{this.code}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Precio: {{this.price}} </h6>
                  <p class="card-text">{{this.description}}</p>
                  <p class="card-text">Stock: {{this.stock}}</p>
                  <input id="idProduct" class="card-text text-white border-0" value="{{this._id}}">
                  <button id="addToCart-{{@index}}" name="addToCart" class="btn btn-success">Agregar al carrito</button>
               </div>
            </div>
            {{/each}}
         </div>
         <div class="text-center">
            <div class="card-subtitle mb-2 text-muted">Página: {{ actualPage }}</div>
            {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}"><button class="btn btn-secondary btn-sm">Página Anterior</button></a>
            {{/if}}
            {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}"><button class="btn btn-secondary btn-sm">Página Siguiente</button></a>
            {{/if}}
            <button id="viewCart" class="btn btn-info btn-sm">Ver Carrito</button>
         </div>
      </div>
   </div>
</div>

<script src="/assets/js/products.js"></script>